:root {
    --primaryBlue: #162345;
    --secondaryRed: #ff3349;
    --primaryGold: #e19900;
    --lightGold: #66C1A8;
    --white: #fff;
    --headBG: #dfe0e6;
  }

  html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.display-area {
    height: 600px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    background-color: var(--headBG);
    background-image: url("http://localhost/signaturecards/public/img/bgimage.jpg");
    padding-top: 7%;
    align-items: center;
}

.display-title {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.card-font-type {
    cursor: pointer;
    background-color: #fff;
    padding: 15px 35px;
   border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 100px;
    font-size: 14px;
    font-family: 600;
}

.card-fontType-selected {
    border-color: var(--secondaryRed);
    border-width: 2px;
    border-style: solid;
}

.card-design{
    cursor: pointer;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
   border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    font-family: 600;
    width: 48%;
}

.card-design-selected {
    border-color: var(--secondaryRed);
    border-width: 2px;
    border-style: solid;
}

.card-position{
    cursor: pointer;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
   border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    font-family: 600;
    width: 48%;
}

.card-position-selected {
    border-color: var(--secondaryRed);
    border-width: 2px;
    border-style: solid;
}

.card-font-row {
    display: flex;
    justify-content:space-between;
    column-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-top: -10px;
}

.display-title h5 {
    color: #dfe0e6;
    font-weight: 300;
    font-size: 27px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.inner-card-body img {
    width: 400px;
}

.display-title h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
}

.nav-area {
    width: 70%;
    margin: 0px auto;
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.custom-btn {
    background-color: var(--secondaryRed);
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    padding: 17px 40px;
}

.metal-option-area h1 {
    color: var(--primaryBlue);
    font-size: 25px;
    font-weight: 600;
    margin: 0px auto;
}

.metal-card {
    border-radius: 10px;
    background-color: #fff;
    height: 220px;
    width: 250px;
    transition:all .5s
}

.metal-card:hover {
    border-color: var(--secondaryRed);
    border-width: 2px;
    border-style: solid;
    transform:translate(0px,-6px);
}

.metal-list-option a:link {
    text-decoration: none;
}

.best-seller-area {
    padding-top: 4%;
    padding-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}
.best-seller-area h1 {
    color: var(--primaryBlue);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.best-seller-area h5 {
    color: var(--secondaryRed);
    font-size: 15px;
    font-weight: 300;
    margin-top: -10px;
}

.card-details h5 {
    font-size: 14px;
    font-weight: 600;
    color: #ff3349;
    text-align: center;
}

.card-details {
    justify-content:center;
    margin: 15px;
    margin-left: 30px;
    padding-top: 10px;
}

.metal-card-title {
    font-weight: 500;
    font-size: 15px;
    color: var(--primaryBlue);
}
.card-product img {
    width: 200px;
    margin-top: 15px;
}

.metal-card img {
    width: 180px;
}

.card-product h1 {
    font-weight: 600;
    font-size: 15px;
    color: var(--primaryBlue);
}

.card-product {
    background-color: #f4f4f5;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding-top: 20px;
    text-decoration: none;
    transition:all .5s
}

.card-product:hover {
    transform:translate(0px,-6px);
}

.card-product-list {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 3%;
}

.forgot-pwd {
    text-align: right;
    padding-right: 16%;
    margin-bottom: 40px;
}

.sign-body {
    margin-top: 30px;
}

.sign-body a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #162345;
}

.forgot-pwd a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondaryRed);
}

.like-product-list a {
    text-decoration: none;
    font-size: 15px;
}

.like-product-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25px;
}

.no-item-cart {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    color: #838388;
}

.no-item-cart a {
    text-decoration: none;
    color: var(--secondaryRed);
}

.cartTable h1 {
    font-weight: 600;
    font-size: 16px;
    color: #40404c;
    margin-top: 30px;
}

.cart-value {
    color: var(--secondaryRed);
}

.cartTable ul {
    list-style-type: none;
    margin-left: -40px;
    line-height: 22px;
}

.cartTable ul li {
    font-size: 14px;
    font-weight: 400;
    color:#5d5d5d;
}

.cart-image {
    width: 100px;
    height: 100%;
    margin-top: 30px;
}

.cart-image-checkout {
    width: 80px;
    height: 50px;
}

tbody {
    margin-top: 30px;
}

.cartTable a {
    text-decoration: none;
    font-size: 13px;
    color: var(--secondaryRed);
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    border-bottom-color: #dddddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  
  th {
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    padding: 28px 15px;
  }

.cart-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
}

.metal-list-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    column-gap: 15px;
    margin-top: 30px;
}

.success-item-cart i {
    font-size: 18px;
    margin-right: 5px;
}

.success-item-cart {
    display: none;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 14px;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.success-alert {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 14px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 35px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



.success-alert-mobile {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 14px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 35px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.cart-header {
    font-weight: 500;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-header h1 {
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}


.cart-header-mobile h1 {
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 1.3rem;
}

.btnSign {
    background-color: var(--secondaryRed);
    padding: 15px 100px;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}

.btnLogin {
    background-color: var(--secondaryRed);
    padding: 15px 100px;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.login-body h1 {
    font-weight: 600;
    font-size: 23px;
    color: var(--primaryBlue);
    text-align: center;
}

.login-body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
}

.like-product-body h1 {
    font-size: 18px;
    color: var(--primaryBlue);
    font-weight: 600;
}

.like-product-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 8%;
}

.like-product {

    background-color: #f9f9f9;
    padding: 10px 35px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
}

.like-product h1 {
    text-decoration: none;
    font-size: 15px;
}

.like-product h5 {
    text-decoration: none;
    font-size: 16px;
    font-family: 600;
    color: var(--secondaryRed);
}

.like-product a:link {
    text-decoration: none;
}

.like-product img {
    width: 200px;
}

.copy-right {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.footer-copyright {
    border-top-color: #40404c;
    border-top-width: 1px;
    border-top-style: solid;
}

.footer-copyright-checkout {
    background-color: #292936;
}

.how-contents {
   text-align: left;
}

.how-contents h3 {
    font-size: 18;
    font-weight: 500;
    color: var(--primaryBlue);
}

.how-contents p {
    font-size: 14px;
    line-height: 22px;
    width: 500px;
    font-weight: 400;
    color: #5d5d5d;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 30px;
    margin-bottom: 20px;
}

.icon-div img {
    width: 30px;
}

.login-body h5 {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    margin-top: -5px;
}

.login-field {
    margin-top: 40px;
    text-align: center;
}

.login-field input { 
    border-color: #dedfe1;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    padding: 18px;
    width: 68%;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.news-letter-field {
    flex: 1;
    border-color: #dedfe1;
    border-radius: 10px;
    padding: 18px;
    font-size: 16px;
    font-weight: 300;
    border-width: 1px;
    border-style: solid;
}

.news-letter-button {
    background-color: var(--secondaryRed);
    border:none;
    padding: 17px 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;

}

.newsletter-box input {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.newsletter-box {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    width: 600px;
    margin-top: 50px;
}

.newsletter-area h5 {
    font-size: 16px;
    font-weight: 300;
    color:#5d5d5d;
    margin-top: -10px;
}

.newsletter-area h1 {
    color: var(--primaryBlue);
    font-size: 25px;
    font-weight: 600;
}

.newsletter-area {
    width: 80%;
    padding-top: 5%;
    padding-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.icon-div {
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    text-align: center;
    padding-top: 12px;
}

.item-body p {
    color: var(--primaryBlue);
    font-size: 14px;
    font-weight: 400;
}

.item-body h3{
    color: #ff3349;
    font-size: 15px;
    font-weight: 500;
}

.how-area-body img {
    width: 600px;
    border-radius: 30px;
    align-self: flex-start;
}

.how-it-works-area h5 {
    font-size: 15px;
    font-weight: 300;
    margin-top: -10px;
    color: var(--primaryBlue);
    margin-bottom: 80px;
}

.how-area-body {
    display: flex;
    flex-direction: row;
    justify-content:center;
    column-gap: 5%;
    margin-top: 20px;
    margin-top: 20px;
}

.how-it-works-area {
    background-color: #f3f3f3;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
}

.how-it-works-area h1 {
    color: var(--primaryBlue);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.metal-option-area h5 {
    color: var(--secondaryRed);
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

.metal-option-area {
    background-color: #f3f3f3;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.design-btn {
    border-width: 1px;
    border-color: var(--secondaryRed);
    border-style: solid;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    padding: 17px 40px;
    transition:all .5s
}

.design-btn:hover {
    background-color: var(--secondaryRed);
    border: none;
    color: #fff;
    border-width: 1px;
    border-color: var(--secondaryRed);
    border-style: solid;
}

.button-holder a {
    text-decoration: none;
}

.button-holder {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content:space-evenly;
    align-items: center;
    margin: 0px auto;
}

.copy-right li a {
    font-size: 13px;
    color: #dfe0e6;
    font-weight: 400;
    text-decoration: none;
}

.copy-right li {
    display: inline;
    font-size: 13px;
    margin-left: 18px;
    font-size: 13px;
    color: #dfe0e6;
    font-weight: 400;
}


.copy-right ul {
    list-style-type: none;
}

.design-details {
    justify-content:center;
    padding-top: 10px;
}

.design-details h5 {
    font-size: 14px;
    font-weight: 600;
    color: #ff3349;
    text-align: center;
}


.design-card{
    background-color: #f4f4f5;
    width: 300px;
    border-radius: 10px;
    text-decoration: none;
    transition:all .5s;
    padding-top: 20px;
    text-align: center;
}

.design-card img {
    width: 220px;
    margin-top: 15px;
}

.design-card h1 {
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    color: var(--primaryBlue);
}

.navlink li {
    display: inline;
    font-size: 14px;
    margin-left: 20px;
}

.left-categories li a {
    font-weight: 400;
    font-size: 13px;
    color: var(--secondaryRed);
    text-decoration: none;
}

.left-categories ul {
    margin-left: -40px;
    list-style-type: none;
}

.left-categories ul li {
    line-height: 33px;
}

.left-categories h1 {
    font-size: 15px;
    font-weight: 600;
    color: var(--primaryBlue);
}

.left-categories {
    flex-basis: 28%;
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 20px;
}

.right-collection-area {
    flex-basis: 72%;
    border-color: #eeeeee;
    border-width: 1px;
    border-style: solid;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.collection-area {
    column-gap: 10px;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

.acctTxt {
    color: var(--secondaryRed);
}

.account {
    background-color: var(--secondaryRed);
    padding: 10px 20px;
    border-radius: 5px;
    align-items:center;
    padding-top: 10px;
    padding-right: 40px;
}

.account-checkout {
    background-color: var(--secondaryRed);
    padding: 10px 20px;
    border-radius: 5px;
    align-items:center;
    padding-top: 10px;
    padding-right: 50px;
}


.account-checkout-mobile {
    background-color: var(--secondaryRed);
    padding: 0.5rem 1rem;
    padding-right: 3rem;
    border-radius: 5px;
}


.account-checkout img {
    width: 16px;
    position: absolute;
}

.account-checkout-mobile img {
    width: 16px;
    margin-left: 3px;
    position: absolute;
}

.account img {
    width: 16px;
    margin-left: 3px;
    position: absolute;
}

.navlink .account a {
    color: var(--secondaryRed);
}

.navlink a:hover {
    color: var(--secondaryRed);
}

.navlink a {
    font-weight: 600;
    text-decoration: none;
    color: var(--primaryBlue);
    transition:all .5s
}

.active {
    background-color: var(--secondaryRed);
    color: #fff;
    padding: 5px 10px;
}

.inner-sub-body h1 {
    font-size: 20px;
    font-weight: 400;
    color: var(--primaryBlue)

}

.add-cart {
    border-color: #ff3349;
    border-width: 1px;
    border-style: solid;
    padding: 15px 25px;
    color: #ff3349;
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
}


.pay-button {
    background-color: #ff3349;
    padding: 18px 25px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.total-cart-area {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.order-info {
    margin-top: 30px;
}

.order-info h3 {
    color: #5d5d5d;
    font-weight: 500;
    font-size: 16px;
}

.total-info {
    text-align: right;
}

.total-info h5 {
    color: var(--secondaryRed);
    font-weight: 400;
    font-size: 16px;
}

.total-info h1 {
    color: #162345;
    font-weight: 600;
    font-size: 25px;
    margin-top: -20px;
}

.btn-checkout {
    cursor: pointer;
    background-color: var(--secondaryRed);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding: 15px 105px;
    border-radius: 10px;
    margin-top: -20px;
    font-family: "Montserrat", sans-serif;
}

.total-cart-area textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 20px;
    height: 300;
    width: 500px;
    border-radius: 10px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}

.product-quantity {
    font-size: 17px;
    color:#838388;
    font-weight: 400;
    margin-bottom: 10px;
}

.total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-button {
    margin-top: 40px;
}

.cart-count {
    position: absolute;
    margin-left: 14px;
    margin-top: 1px;
    color: #fff;
    border-radius: 50%;
    padding: 1px 5px;
}

.cart-count-checkout {
    position: absolute;
    margin-left: 20px;
    margin-top: -1px;
    color: #fff;
    border-radius: 50%;
    padding: 1px 5px;
}

.payment-button input {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.navlink ul {
    list-style-type: none;
    margin: 0;
    padding: 9px 0px;
}

.card-color-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    margin-top: -10px;
}

.card-color-list img {
    width: 62px;
}

.card-color-list-img-selected {
      border-color: var(--secondaryRed);
    border-width: px;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
}

.reader {
    font-size: 18px;
    font-family: 500;
    color: var(--primaryBlue);
}

.right-column h1 {
    font-size: 18px;
    font-weight: 700;
    color:var(--primaryBlue);
}

.txtName {
    border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 16px;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    margin-top: -10px;
}

.cart-amount {
    font-weight: 500;
    font-size: 16px;
    padding-top: 30px;
    color: #40404c;
}

.quantity-counter-cart {
    border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    width: 50%;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    margin-top: 30px;
}

.quantity_counter {
    border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.counter {
    color: #ff3349;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}

.right-column h5 {
    font-size: 14px;
    font-weight: 500;
    color: #5d5d5d;
}

.total-price-cart {
    font-size: 25px;
    font-weight: 500;
    color: #ff3349;
    margin-top: -10px;
}

.right-column h3 {
    font-size: 25px;
    font-weight: 500;
    color: #ff3349;
}

.top-notification {
    width: 50%;
    position: fixed;
    top: 0;
    left: 25%;
    color: #fff;
    background-color: var(--secondaryRed);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    z-index: 90;
    display: none;
}

.card-name {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 205px;
    left: 170px;
}

.card-name-back {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 445px;
    left: 170px;
    display: none;
}

.image-card {
    position: relative;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url("http://localhost/signaturecards/public/img/cardTemplate.png");
}

.img-box {
    border-color: #eeeeee;
    border-width: 1px;
    border-style: solid;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.description-body p {
    font-size: 15px;
    line-height: 25px;
    color: #838388;
    font-weight: 300;
}

.left-column {
    flex-basis: 65%;
    min-height: 500px;
}

.description {
    margin-top: 50px;
    margin-bottom: 70px;
}

.desc-header {
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 20px;
}

.desc-header h1 {
    font-size: 18px;
    color: var(--primaryBlue);
    font-weight: 600;
}

.right-column {
    background-color: #f9f9f9;
    padding: 40px;
    flex-basis: 35%;
    border-radius: 20px;
}

.inner-card-body {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 30px;
    margin-bottom: 50px;
}

.payment-checkout {
    margin: 2rem;
}

.check-input-hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.check-input-hdr label {
    font-weight: 600;
    font-size: 17px;
    color: var(--secondaryRed);
}

.check-input-hdr a {
    text-decoration: none;
    color: var(--secondaryRed);
    font-weight: 500;
    font-size: 14px;

}

.total-price {
    width: 72%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-price-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-price h6 {
    font-size: 1.2rem;
}

.total-price h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--secondaryRed);
}

.total-price-mobile h6 {
    font-size: 1.2rem;
}

.total-price-mobile h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--secondaryRed);
}

.total-display {
    margin-top: 30px;
}

.total-detail h3 {
    color: #40404c;
    font-family: 400;
    font-size: 14px;
}
.total-detail h1 {
    font-family: 300;
    font-size: 16px;
}

.total-detail {
    width: 72%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-detail-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-body {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10%;
    height: 100%;
}

.product-detail {
    flex: 1;
}

.product-detail h1 {
    font-size: 15px;
    font-weight: 600;
    color: #5d5d5d;
    margin-top: 0px;
}

.product-amount h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #292936;
    margin-top: 0px;
    text-align: end;
}

.product-detail p {
    font-size: 13px;
    color: #838388;
    line-height: 20px;
    width: 80%;
}

.row-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;
}

.checkout-body-left {
    flex-basis: 50%;
    padding-top: 40px;
    padding-left: 15%;
    padding-right: 40px;
}

.checkout-order-details {
    inline-size: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    width: 70%;
    height: 100px;
}

.checkout-order-details-mobile {
    inline-size: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.btn-pay-now {
    background-color: var(--secondaryRed);
    border: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    margin-top: 40px;
    cursor: pointer;
}

.checkout-input {
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding: 0.5rem 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    
}

.checkout-input-delivery h2 {
    font-size: 14px;
    font-weight: 500;
    color: #5e5e61;
}

.check-input-hdr p {
    font-size: 13px;
    font-weight: 400;
    color: #2461c3;
}


.checkout-input-delivery h4 {
    font-size: 16px;
    font-weight: 600;
    color: #40404c;
}

.checkout-input-delivery {
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.checkout-input label {
    font-size: 14px;
    margin-left: -20px;
    color: #5e5e61;
    font-weight: 500;
    width: 150px;
}

.checkout-input input {
    width: 100%;
    font-size: 1rem;
    height: 45px;
    border: none;
    font-family: "Syne", sans-serif;
}

.success-alert i {
    display:inline-block;
    font-size: 3rem;
}


.success-alert-mobile i {
    display:inline-block;
    font-size: 3rem;
}

.order-details {
    font-weight: 500;
    color:#5e5e61;
    font-size: 0.9rem;
    width: 50%;
    line-height: 1.5rem;
    margin: 0px auto;
}

.order-details-mobile {
    font-weight: 500;
    color:#5e5e61;
    font-size: 0.9rem;
    width: 85%;
    line-height: 1.5rem;
    margin: 0px auto;
}
.success-alert h1 {
    font-size: 1.3rem;
    display: inline-block;
}


.success-alert-mobile h1 {
    font-size: 1rem;
    display: inline-block;
}

.order-number h1 {
    color: #ff3349;
    font-size: 1.7rem;
    margin: 2rem 0px;
}

.complete-order-area {
    background-color: #f5f5f5;
    padding: 4rem 0px;
}

.complete-order-area-mobile {
    background-color: #f5f5f5;
    padding: 2rem 0px;
}

.complete-order-body {
    width: 65%;
    margin: 0px auto;
    min-height: 400px;
    text-align: center;
    background-color: #fff;
    padding: 5rem 0px;
    border-radius: 2rem;
}

.complete-order-body-mobile {
    margin: 0px auto;
    text-align: center;
    background-color: #fff;
    padding: 5rem 0px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2rem;
}

.checkout-body-right {
    position: sticky;
    top: 0;
    bottom: 0;
    flex-basis: 50%;
    padding: 40px;
    background-color: #f5f5f5;
    border-left-color: #eeeeee;
    border-left-width: 1px;
    border-left-style: solid;
    height: 100vh;
}


.checkout-body-mobile {
    position: sticky;
    padding: 20px;
    background-color: #f5f5f5;
}

.inner-sub-body-checkout a {
    text-decoration: none;
}

.discount-code input[type=text] {
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 55%;
    border-radius: 8px;
    padding-left: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.discount-code input[type=button] {
    background-color: #dedfe1;
    border: none;
    padding: 15px 35px;
    border-radius: 8px;
    color: #5e5e61;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
}

.discount-code {
    margin-top: 20px;
}

.header-area {
    background-color: var(--headBG);
}

.inner-sub-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.checkout-sub-header-inner {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 1.3rem;
    color: #202023;
}

.checkout-sub-header-inner-mobile {
    padding-left: 2rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: #202023;
}

.checkout-sub-header {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #5e5e61;
    border-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


.checkout-sub-header-mobile {
    padding: 1rem 0px;
    color: #5e5e61;
    border-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.inner-sub-body-checkout {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner-sub-body-checkout-mobile {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner-header-checkout {

    background-color: #202023;
    padding-top: 1%;
    padding-bottom: 1%;

}


.inner-header-checkout-mobile {

    background-color: #202023;

}

.inner-sub-header {
    background-color: #f3f3f3;
    margin-top: -10px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

*{
    box-sizing: border-box;
}

.footer-body ul {
    list-style-type: none;
    margin-left: -30px;
}

.footer-body ul li {
    color: #dfe0e6;
    font-size: 14px;
    font-weight: 300;
    line-height: 35px;
}

.footer-body h3 {
    font-size: 15px;
    color:#ff3349;
    font-weight: 500;
}

.footer-body {
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 30px;
}

.footer-div {
    background-color: #292936;
    padding-top: 3%;
    padding-bottom: 3%;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push { 
    height: 50px;
  }

  .container {
    max-width: 1330px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 13px;
    background-color: var(--primaryBlue);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }