:root {
    --darkBG: #121011;
    --primaryGold: #e19900;
    --smallRed: #FF3349;
    --lightGold: #66C1A8;
    --grey: #dfe0e6;
    --secondaryRed: #ff3349;
    --primaryBlue: #162345;
  }

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -10px;
  }
  .footer,
  .push {
    height: 0px;
  }

  .footer-div {
    background-color: var(--darkBG);
  }

  .footer-copyright {
    border-top-color:#52535b;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 1.3% 0px;
    text-align: center;
    color: #848487;
    font-size: 15px;
    font-weight: 400;
  }

  .office-address ul {
    list-style-type: none;
    margin-left: -40px;
    line-height: 35px;
    margin-top: 25px;
  }

  .office-address li {
    color: #848487;
    font-size: 15px;
    font-weight: 500;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
    margin-top: -10px;
  }

  .contact p {
    color: #848487;
  }

  .contact i {
    margin-top: 20px;
    color: #52535c;
  }

  .inner-footer {
    width: 75%;
    margin: 0px auto;
    display: flex;
    padding: 4% 0px;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 80px;
  }

  .card-product-list {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 3%;
}

  .sticky {
    position:fixed;
    top:0;
  }

  .header-area {
    background-color: #111;
    padding: 10px 0px;
    border-bottom-color: #3f3622;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    top:0;
    width: 100%;
    z-index: 90;
    position: sticky;
  }

  .header-logo-area {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-area img {
    width: 150px;
    height: 100%;
  }

  .navlink li {
    display: inline;
    font-size: 16px;
    margin-left: 20px;
}
.navlink img {
    width: 25px;
    margin-left: 50px;
}

.navlink .account a {
    color: var(--secondaryRed);
}

.navlink a:hover {
    color: var(--smallRed);
}

.navlink a {
    font-weight: 600;
    text-decoration: none;
    color: var(--lightGold);
    transition:all .5s
}

.navlink ul {
    list-style-type: none;
    margin: 0;
    padding: 9px 0px;
}

.luxury-design {
    width: 70%;
    padding: 3% 0px;
}

.more-designs {
    text-decoration: none;
    margin: 2rem auto;
    background-color: var(--primaryGold);
    padding: 15px 35px;
    border-radius: 15px;
    width: 30%;
}

.more-designs a {
    text-decoration: none;
    color: #111;
    font-size: 16px;
    font-weight: 600;
}

.display-area {
    height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    background-color: var(--headBG);
    background-image: url("http://localhost/signaturecards/public/img/bg_1.png");
    padding-top: 7%;
    align-items: center;
}

.display-area-2 {
    height: 450px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    background-color: var(--headBG);
    background-image: url("http://localhost/signaturecards/public/img/slider/slide_1.png");
    padding-top: 7%;
}

.display-title {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    text-align: center;
}

.display-title h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}

.display-title h2 {
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 45px;
    text-align: center;
    font-weight: 800;
    margin-top: -20px;
}

.goldColor {
    color: var(--primaryGold);
}


.display-title h5 {
    color: #fff;
    font-weight: 500;
    font-size: 27px;
    width: 50%;
    margin-top: -20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button-holder a {
    text-decoration: none;
}

.btn-holder {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-holder {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content:space-evenly;
    align-items: center;
    margin: 0px auto;
}

.design-btn {
   background-color: var(--primaryGold);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    padding: 20px 70px;
    transition:all .5s;
    margin-right:5px;
}

.design-btn:hover {
    background-color: var(--lightGold);
    border: none;
    color: #fff;
    border-width: 1px;
    border-color: var(--secondaryRed);
    border-style: solid;
}

.custom-btn {
    background-color: #e19900;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    padding: 17px 40px;
}

.request-info {
    flex-basis: 50%;
}

.request-info p {
  font-size: 18px;
  color: #76777c;
  line-height: 25px;
}

.request-info h1 {
    font-weight: 800;
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 45px;
}

.cart {
    position:relative;
    padding-top:20px;
    display:inline-block;
}

.notify-badge{
    position: relative;
    color: #fff;
    background-color: var(--primaryGold);
    border-radius: 50%;
    font-family: "Roboto";
    font-size: 14px;
    
    /* Alignment */
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: -95px;
    top: -20px;
    
    /* Adjust as required: */
    padding: 7px;
}

/* Height = width */
.notify-badge::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .request-form {
    margin-left: 80px;
  }

.request-info h5 {
    color: var(--grey);
    font-size: 25px;
    font-weight: 800;
}

.form-divider {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    column-gap: 30px;
    margin-top: 10px;
}

.search-area {
    width: 68%;
    margin: 2% auto;
    border-color: #434555;
    border-width: 1px;
    border-style: solid;
    border-radius: 18px;
    padding: 10px 0.6rem;
    display: flex;
    justify-content: space-between;
}

.search-area a {
    padding: 0.85rem 3rem;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Syne", sans-serif;
    background-color: var(--lightGold);
}

.search-area input {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: #f8f8f8;
    font-family: "Syne", sans-serif;
}

.contact-form {
    width: 60%;
    margin: 5% auto;
}

.contact-form input[type=submit] {
    background-color: var(--primaryGold);
    width: 300px;
    font-family: "Syne", sans-serif;
    font-weight: 800;
    margin: 30px auto;
    color: #111;
}

.contact-form textarea {
    font-family: "Syne", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 20px;
    height: 200px;
    background: transparent;
    border-radius: 10px;
    border-color: #434555;
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    color: var(--grey);
    width: 94%;
}

.contact-form input {
    font-weight: 600;
    width: 94%;
    border-color: #434555;
    border-width: 1px;
    border-style: solid;
    padding: 17px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
    background: none;
    color: var(--grey);
    font-family: "Syne", sans-serif;
}


.request-order input[type=submit] {
    background-color: var(--primaryGold);
    font-family: "Syne", sans-serif;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 800;
    width: 47%;
    color: #121215;
}

.request-order input {
    width: 91%;
    border-color: #434555;
    border-width: 1px;
    border-style: solid;
    padding: 17px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
    background: none;
    color: var(--grey);
    font-family: "Syne", sans-serif;
}

.request-order {
    flex-basis: 50%;
}

.request-order h1 {
    font-size: 16px;
    font-weight: 700;
    color: var(--grey);
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.luxury-design-area {
    background-color: #020B12;
}

.custom-design-area {
    background-color: #121215;
}

.custom-design {
    width: 70%;
    margin: 0px auto;
    padding: 6% 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.exclusive-design {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0px;
}

.exclusive-design h1 {
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.exclusive-design h5 {
    color: var(--lightGold);
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    margin-top: -10px;
}

.collection-swiper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    margin-top: -50px;
}

.w3-button a {
    color: var(--primaryGold);
}

.page-navigation {
    margin-top: 30px;
}

.page-navigation .active {
    background-color: var(--primaryGold);
    border-radius: 40px;
    text-align: center;
    color: #110f0f;
    padding: 7px 15px;
}

.page-navigation a {
    display: inline-block;
    margin: 0px 18px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--lightGold);
}

.collection-swiper img {
    width: 350px;
    height: 100%;
}

.card-product-grid a {
    text-decoration: none;
    font-size: 8px;
    font-weight: 400;
    color: #fff;
}

.card-product-grid:hover {
    transform:translate(0px,-6px);
}

.card-product-grid img {
    width: 320px;
}

.card-product-grid {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .5s;
}


.best-selling-box {
    background-color: #110f0f;
    width: 70%;
    margin: 2rem auto;
    border-radius: 30px;
    border-color: #131111;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.best-selling-area-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    padding: 1em;
    height: 95vh;
}

.best-selling-area {
    border-radius: 30px;
    border-color: #131111;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
    padding: 2rem;
}

.filter-search-area ul {
    list-style-type: none;
}

.preloader-area {
    width: 65%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preloader-area h5 {
    color: #898996;
    font-size: 1rem;
    font-weight: 500;
}

.filter-search-area li {
    display: inline-block;
    margin-right: 1.2rem;
    padding: 0.65rem 1.5rem;
    border-color: var(--primaryGold);
    border-width: 1px;
    border-style: solid;
    border-radius: 1.3rem;
    margin-bottom: 15px;
}

.filter-search-area a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 0.9rem;
}

.filter-search-area a:hover {
    color: var(--secondaryRed);
}

.filter-search-area {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 70%;
}

.card-product {
    transition:all .5s;
    text-align: center;
    width: 30%;
}


@media (max-width: 768px) {
    .card-product  {
      width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .card-product  {
      width: 100%;
    }
  }


.card-product a {
    text-decoration: none;
    font-size: 0.5rem;
    font-weight: 500;
    color: #fff;
}

.card-product:hover {
    transform:translate(0px,-6px);
}

.card-product img {
    max-width: 100%;
    height: auto;
}

.browse-design-area {
    background-color: #040304;
    padding: 4% 0px;
}


.best-selling-design-area {
    background-color: #040304;
    padding: 4% 0px;
}

.best-selling-design {
    width: 70%;
    margin: 0 auto;
}

.best-selling-design h1 {
    color: var(--grey);
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.display-best-selling {
    margin-top: 70px;
}

.display-best-selling img {
    width: 300px;
    height: 100%;
}

.best-selling-design h5 {
    color: var(--lightGold);
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    margin-top: -10px;
}

.how-it-works {
    background-color: #040304;
    padding: 4% 0px;
    border-top-color: #443411;
    border-top-width: 1px;
    border-top-style: solid;
}

.rating-details h2 {
    color: var(--lightGold);
    font-size: 23px;
    font-weight: 500;
}


.rating-details h5 {
    color: var(--grey);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.step-info {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    align-items: flex-start;
    width: 600px;
}

.step-info img {
    width: 85px;
    height: 78px;
}

.step-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
    width: 60%;
    margin: 40px auto;
}

.how-steps {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    column-gap: 40px;
    margin-bottom: 40px;
}

.step-details h3 {
    color: var(--lightGold);
    margin-top: 0px;
}

.step-details p {
    text-align: left;
    color: #52535b;
    line-height: 27px;
    font-size: 17px;
}

.step-box {
    padding: 30px;
    background-color: #0a0909;
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 40px;
}

.step-box img {
    width: 70px;
    height: 70px;
}

.how-steps-area {
    width: 70%;
    margin: 20px auto;
}

.how-it-works h5 {
    color: var(--lightGold);
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    margin-top: -10px;
}

.how-it-works h1 {
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}


.line-divider {
    height: 2px;
    background-color: #fff;
    width: 150px;
    margin: 15px auto;
    margin-bottom: 30px;
}

.rating-info img {
    width: 250px;
    border-radius: 10px;
}

.company-info img {
    width: 200px;
  }

  .company-info {
    width: 300px;
  }

  .company-info h3 {
    color: #848487;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }

  .support-info h1 {
    color: #e19900;
    font-size: 19px;
    font-weight: 600;
  }

  .support-info h3 {
    color: var(--grey);
    font-size: 27px;
    font-weight: 500;
  }

  .support-info h5 {
    font-size: 15px;
    color: #848487;
    margin-top: -10px;
    font-weight: 500;
    line-height: 22px;
  }

  .support-info {
    width: 300px;
    margin-top: 20px;
  }

  .rating-info {
    padding-top: 3%;
  }

  .office-address {
    width: 300px;
    margin-top: 20px;
  }

  .office-address h1 {
    color: #e19900;
    font-size: 18px;
    font-weight: 600;
  }

  .office-address h5 {
    font-size: 15px;
    color: #52535c;
    font-weight: 500;
    line-height: 22px;
  }

  .inner-header-profile {
    padding: 1.5% 0px;
    background-image: url("http://localhost/signaturecards/public/img/inner_bg.png");
    border-bottom-color: #3f3622;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .inner-header-profile h1 {
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }

  .profile-body-area {
    background-color: #040304;
    padding: 6% 0px;
  }

  .left-list h2 {
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 32px;
    font-weight: 800;
    width: 500px;
  }

  .service-count-area {
    background-color: #121215;
    padding: 5% 0px;
  }

  .service-count {
    width: 67%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .rating-box h4 {
    color: #dfe0e6;
    font-size: 45px;
    font-weight: 700;
    margin-top: 40px;
  }

  .rating-box p {
    color: var(--lightGold);
    font-size: 16px;
    font-weight: 600;
    margin-top: -55px;
    margin-bottom: 40px;
  }

  .counter-box {
    flex-basis: 40%;
    padding-top: 6%;
    text-align: center;
  }

  .counter-box h1 {
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 75px;
    font-weight: 800;
  }

.counter-box h5 {
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
    font-size: 20px;
    font-weight: 800;
    margin-top: -35px;
}

  .rating-box {
    background-color: #1f1f23;
    text-align: center;
    width: 300px;
    border-radius: 10px;
  }

  .awards-box {
    flex-basis: 85%;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
  }

  .service-body {
    width: 67%;
    margin: 0px auto;

  }

  .right-list {
    margin-left: 4%;
  }

  .right-list img {
    width: 400px;
  }

  .service-list p {
    color: #808080;
    width: 500px;
    font-size: 18px;
    margin-top: 50px;
    line-height: 28px;
  }

  .service-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
  }

  .service-body h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    width: 60%;
    margin: 0px auto;
    color: #c5c5c5;
    line-height: 40px;
}

  .service-body-area {
    background-color: #040304;
    padding: 6% 0px;
  }

  .profile-body {
    width: 70%;
    margin: 0px auto;
  }

  .profile-body h1 {
    color: #c5c5c5;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }

  .profile-body h5 {
    text-align: center;
    font-weight: 700;
    color: var(--lightGold);
    font-size: 20px;
    width: 50%;
    margin: 0px auto;
  }

  .inner-header-area {
    background-color: #202023;
  }

  .inner-header-title {
    width: 68%;
    margin: 0px auto;
    padding: 5px 0px;
  }

  .inner-header-title h1 {
    font-size: 25px;
    font-weight: 700;
    background: linear-gradient(to bottom, var(--primaryGold), var(--lightGold));
    background-clip: text;
    color: transparent;
  }

  .card-custom-body {
    background-color: #f8f8f8;
    padding: 3% 0px;
  }

  .inner-card-body img {
    width: 400px;
}

.inner-card-body {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 30px;
    margin-bottom: 50px;
}

.left-column {
    flex-basis: 65%;
    min-height: 500px;
    background-color: #fff;
    border-radius: 20px;
    padding: 0px 40px;
    border-color: #eeeeee;
    border-width: 1px;
    border-style: solid;
}

.card-name {
    color: #c0c0c0;
    font-size: 0.85rem;
    font-weight: 700;
    position: absolute;
    top: 143px;
    left: 65px;
    font-family: 'Times New Roman', Times, serif;
}

.card-name-front {
    color: #c0c0c0;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    top: 240px;
    left: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.card-back img {
    width: 260px;
    position: absolute;
    top: 190px;
    left: 65px;
}

.card-back2 img {
    width: 170px;
    position: absolute;
    top: 175px;
    left: 65px;
}

.card-back {
    position: relative;
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.card-front {
    position: relative;
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    
}

.image-card {
    position: relative;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url("http://localhost/signaturecards/public/img/cardTemplate.png");
}

.img-box {
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.description-body p {
    font-size: 15px;
    line-height: 25px;
    color: #838388;
    font-weight: 300;
}

.left-column {
    flex-basis: 65%;
    min-height: 500px;
}

.description {
    margin-top: 50px;
    margin-bottom: 70px;
}

.desc-header {
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 20px;
}

.desc-header h1 {
    font-size: 18px;
    color: var(--primaryBlue);
    font-weight: 600;
}

.right-column {
    background-color: #fff;
    padding: 30px;
    flex-basis: 40%;
    border-radius: 20px;
    border-color: #eeeeee;
    border-width: 1px;
    border-style: solid;
}

.right-column h1 {
    font-size: 25px;
    font-weight: 700;
    color: #ae5100;
}

.txtName {
    border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 16px;
    width: 92%;
    font-size: 17px;
    font-weight: 400;
    font-family: "Syne", sans-serif;
    background-color: #fff;
    margin-top: -10px;
}

.cart-amount {
    font-weight: 500;
    font-size: 16px;
    padding-top: 30px;
    color: #40404c;
}

.quantity-counter-cart {
    border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    width: 50%;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    margin-top: 30px;
}

.quantity_counter {
    border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.counter {
    color: #ff3349;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}

.reader {
    font-size: 23px;
    font-weight: 600;
    color: #020B12;
    margin-left: auto;
    margin-right: auto;
}

.right-column h5 {
    font-size: 14px;
    font-weight: 600;
    color: #636363;
}

.total-price-cart {
    font-size: 25px;
    font-weight: 500;
    color: #ff3349;
    margin-top: -10px;
}

.right-column h3 {
    font-size: 30px;
    font-weight: 700;
    color: #ff3349;
}


.card-color-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    margin-top: -10px;
}

.card-color-list img {
    width: 62px;
}

.card-color-list-img-selected {
      border-color: var(--secondaryRed);
    border-width: px;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
}

.card-font-row {
    display: flex;
    justify-content:space-between;
    column-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-top: -10px;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 13px;
    background-color: var(--primaryBlue);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .card-color-scheme {
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
  }

  .card-color-scheme-selected {
    border-color: var(--secondaryRed); 
    border-width:2px; 
    border-style:solid; 
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius:8px;
  }

.card-font-type {
    cursor: pointer;
    background-color: #fff;
    padding: 15px 35px;
   border-color: #c4c4c4;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 100px;
    font-size: 14px;
    font-family: 600;
}

.card-fontType-selected {
    border-color: var(--secondaryRed);
    border-width: 2px;
    border-style: solid;
}

.card-design{
    cursor: pointer;
    background-color: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-color: #e4e4e4;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    width: 47%;
}

.success-item-cart i {
    font-size: 18px;
    margin-right: 5px;
}

.success-item-cart {
    display: none;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 14px;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.success-alert {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 14px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 35px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.product-quantity {
    font-size: 17px;
    color:#838388;
    font-weight: 400;
    margin-bottom: 10px;
}

.add-cart {
    border-color: #ff3349;
    border-width: 1px;
    border-style: solid;
    padding: 15px 25px;
    color: #ff3349;
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Syne", sans-serif;
}

.pay-button {
    background-color: #ff3349;
    padding: 18px 25px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    font-family: "Syne", sans-serif;
}

.total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-button input {
    font-family: "Syne", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.cart-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    padding-top: 30px;
}

.no-item-cart {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    color: #838388;
}

.no-item-cart a {
    text-decoration: none;
    color: var(--secondaryRed);
}

.cartTable h1 {
    font-weight: 600;
    font-size: 16px;
    color: #40404c;
    margin-top: 30px;
}

.cart-value {
    color: var(--secondaryRed);
}

.cartTable ul {
    list-style-type: none;
    margin-left: -40px;
    line-height: 22px;
}

.cartTable ul li {
    font-size: 14px;
    font-weight: 400;
    color:#5d5d5d;
}

.cart-image {
    width: 100px;
    height: 100%;
    margin-top: 30px;
}

.cart-image-checkout {
    width: 100px;
    height: 100%;
}

tbody {
    margin-top: 30px;
}

.cartTable a {
    text-decoration: none;
    font-size: 13px;
    color: var(--secondaryRed);
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    border-bottom-color: #dddddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  
  th {
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    padding: 28px 15px;
  }

.cart-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    padding-top: 30px;
}

.total-cart-area {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.total-cart-area textarea {
    font-family: "Syne", sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 20px;
    height: 300;
    width: 500px;
    border-radius: 10px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}


.order-info {
    margin-top: 30px;
}

.order-info h3 {
    color: #5d5d5d;
    font-weight: 500;
    font-size: 16px;
}

.total-info {
    text-align: right;
}

.total-info h5 {
    color: var(--secondaryRed);
    font-weight: 400;
    font-size: 16px;
}

.total-info h1 {
    color: #162345;
    font-weight: 600;
    font-size: 25px;
    margin-top: -20px;
}

.btn-checkout {
    cursor: pointer;
    background-color: var(--secondaryRed);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding: 15px 105px;
    border-radius: 10px;
    margin-top: -20px;
    font-family: "Montserrat", sans-serif;
}

.payment-button {
    margin-top: 40px;
}

.card-design-selected {
    border-color: var(--secondaryRed);
    border-width: 2px;
    border-style: solid;
}

.total-price-cart {
    font-size: 25px;
    font-weight: 500;
    color: #ff3349;
    margin-top: -10px;
}

.total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-position{
    cursor: pointer;
    background-color: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
   border-color: #e4e4e4;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    width: 47%;
}

.card-position-selected {
    border-color: var(--secondaryRed);
    border-width: 2px;
    border-style: solid;
}

.card-font-row {
    display: flex;
    justify-content:space-between;
    column-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-top: -10px;
}

.pagination {
    display: inline-block;
    padding: 20px;
    margin: 1rem auto;
  }
  
  .pagination a {
    color: var(--primaryGold);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #2c2b2b;
    margin: 0 4px;
    font-size: 16px;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  
  .pagination a:hover {
    background-color: #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a.prev, .pagination a.next {
    font-weight: bold;
  }
  
  @media (max-width: 600px) {
    .pagination a {
      padding: 8px;
      font-size: 14px;
    }
  }